:root{
    --nutmeg: hsl(14, 45%, 36%);
    --darkRaspberry: hsl(332, 51%, 32%);
    
    --roseWhite: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --lightGrey: hsl(30, 18%, 87%);
    --wengeBrown: hsl(30, 10%, 34%);
    --darkCharcoal: hsl(24, 5%, 18%);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color: var(--eggshell);
}

h1, h2{
    font-family: 'Young Serif', sans-serif;
}

h3, p, li, td{
    font-family: 'Outfit', sans-serif;
}

p, li{
    font-size: 16px;
}

h2, .tableValue{
    color: var(--nutmeg);
}

.tableValue{
    font-weight: 700;
}

.container{
    width: 1000px;
    max-width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container img{
    width: 100%;
    border-radius: 20px;
}

.description h1{
    font-size: 48px;
    font-family: 'Young Serif', sans-serif;
}